.super-avatar {
    height: 150px;   
    width: 150px;   
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.big-avatar {
    height: 48px;   
    width: 48px;   
    border-radius: 50%;
    object-fit: cover;
}

.medium-avatar {
    height: 32px;   
    width: 32px;   
    border-radius: 50%;
    object-fit: cover;
}

.small-avatar {
    height: 24px;   
    width: 24px;   
    border-radius: 50%;
    object-fit: cover;
}

.big-avatar-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    transition: border-color 0.2s ease;
}
